
body {
    font-family: "Courier New";
    margin: 0px;
    position: relative;
    font-size: 12pt;
    overflow: auto;
    height:100%;
}
input {
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}
::placeholder {
    color: rgb(161, 161, 161);
}
table, tr {
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
}
td {
    text-align: center;
}
th:hover {
    cursor: pointer;
}
.footer {
    width:100%;
    height: 50px;
}
.title {
    margin-top: 100px;
}

/* header */
#header {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: black;
}
.header-item {
    float: left;
}
.header-link {
    color: white;
    display: block;
    border-right: solid thin white;
    font-size: 2em;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}
.header-item :hover {
    background-color: rgb(111, 45, 6);
}
.current {
    background-color: rgb(219, 141, 96);
}
#header-one {
    margin-left: 33%;
    border-left: solid thin white;
}

/*todo list*/
#todo-container {
    position: relative;
    margin-top: 100px;
}
#todo-column {
    width: 30%;
}
#category{
    width: 10%;
    min-width: 100px;
}
#date, #time, #color{
    width: 10%;
    min-width: 120px;
    cursor: pointer;
}
#warning-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: rgba(0, 0, 0, .5);
}
.warning {
    font-size: 2em;
    position: relative;
    padding: 0;
    margin-left: 20%;
    margin-right: 12%;
    margin-bottom: 55px;
    width: 50%;
    height: 20%;
    max-width: 750px;
    background-color: white;
}
.confirm {
    display: inline-block;
    cursor: pointer;
    border: dashed thin black;
}
.deny {
    display: inline-block;
    cursor: pointer;
    border: solid thin black;
}

/* gallery */
#gallery-container {
    width: 85%;
    margin-top: 60px;
    margin-left: 100px;
}
.thumbnail {
    border: 0px;
    border-radius: 3px;
    padding: 2px;
    width: 150px;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.thumbnail:hover,
.thumbnail:focus {
    cursor: pointer;
    transform: scale(1.1)
}
#gallery-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: rgba(0, 0, 0, .5);
}
.slide {
    position: relative;
    padding: 0;
    margin-left: 15%;
    margin-right: 12%;
    margin-bottom: 55px;
    width: 75%;
    max-width: 750px;
}
.slide-container {
    display: none;
}
.close {
    color: white;
    position: absolute;
    top: 15%;
    right: 35px;
    font-size: 35px;
    font-weight: bold;
    transition: 0.6s ease;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  .prev:hover, .next:hover {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  .next {
      right: 0;
      border-radius: 3px 0 0 3px;
  }
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1s;
      animation-name: fade;
      animation-duration: 1s;
  }
  @-webkit-keyframes fade {
      from {opacity: .2}
      to {opacity: 1}
  }
  @keyframes fade {
      from {opacity: .2}
      to {opacity: 1}
  }
#play, #stop {
    cursor: pointer;
    position: absolute;
    top: 15%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  #stop {
      display: none;
  }
  #play:hover, #stop:hover {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  /* about */
  #me {
      width: 35%;
      margin-left: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
      float:left;
  }
  .border-wrap {
      border: solid thin black;
      width: 100%;
      overflow: auto;
  }
  .description {
      padding-top: 50px;
  }
